*.swp
gmon.out
lorenceau-experiment
egl-anim
*.h5
*.o
*.so
*.so.1*
*/moc_*.cpp
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
*/moc_*.cxx
simple-experiment
/plstim
Makefile.Debug
Makefile.Release
*.dll
moc_*.cpp
*.edf
*.asc
*_automoc.cpp
moc_*.cpp_parameters
*.hi
#*#
Session.vim
data
scripts
qrc_*.cpp
*.zip
*.qrc.depends
frame*.png
*.tar.xz
